@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

/*header*/

.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 55px;
}

.logo {
    font-size: 28px;
    color: #122835;
    letter-spacing: 2px;
}

.navegacao ul {
    list-style: none;
    display: flex;
    gap: 60px;
    align-items: center;
}

.navegacao a {
    text-decoration: none;
    color: #0d2c3f;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navegacao a:hover {
    color: #173348;
}

/* Botão de contato header*/
.botao-contato {
    background-color: #173348;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-contato:hover {
    background-color: #173348;
}

/* Banner */
.banner {
    margin: 3%;
    padding: 0%;
    align-items: center;
}

.container-banner {
    height: auto;
    margin: 0;
    padding: 0;
}

.container-banner img {
    width: 100%;
    height: auto;
}

/*Seção Imoveis*/

.imoveis {
    padding: 40px;
}

.imoveis h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 20px;
}

.container-imoveis {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-bottom: 4rem;
}

.card-imoveis {
    width: 350px;
    height: 478px;
    border: 1px solid #173348;
    border-radius: 5px;
    overflow: hidden;
}

.card-image {
    height: 50%;
    background-color: #193849;
}

.card-content {
    height: 50%;
    background-color: white;
}


/* Seção Sobre Nós */
.container-sobre-nos {
    display: flex;
    padding-bottom: 4rem;
    margin: 0;
    align-items: center;
}

.container-sobre-nos img {
    width: 46%;
    height: 20%;
    border-radius: 2px;
}

.texto-sobre-nos {
    width: 45%;
    padding-left: 65px;
}

.texto-sobre-nos h2 {
    color: #122835;
    font-size: 42px;
}

.texto-sobre-nos p {
    color: #122835;
    line-height: 1.4;
    font-size: 22px;
    text-align: justify;
}

/* Anuncie imovel */

.anuncio-destaque {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin: auto;
    overflow: hidden;
}

.imagem-fundo {
    width: 100%;
    display: block;
    height: auto;
}

.card-anuncio {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    background-color: #173348;
    color: #ffffff;
    padding: 2rem;
    max-width: 450px;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-anuncio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.card-anuncio p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn-saiba-mais {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.4rem 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.btn-saiba-mais:hover {
    background-color: white;
    color: #0d2d3e;
}

.rodape {
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.rodape-azul {
    display: grid;
    text-align: center;
    background-color: #173348;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 2%;
}

.coluna-rodape {
    color: #ffffff;
    text-decoration: none;

}

.coluna-rodape a {
    color: #ffffff;
    text-decoration: none;

}

.coluna-rodape2 {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-color: #ffffff;
}

.coluna-rodape2 a {
    color: #ffffff;
    text-decoration: none;

}

.coluna-rodape3 {
    text-align: center;
    color: #ffffff;
}

.footer-social {
    margin-top: 1%;
}